@keyframes move {
  
    to{
        transform: rotate(3deg);
    }
    
}
@keyframes flow {
  
    0%{
        transform: translateY(-50px);

    }
    30%{
        transform: translateY(0);

    }
    80%{
        transform: translateY(-30px);

    }
    100%{
        transform: translateY(0);

    }

    
   
    
}

.bl2{
  
animation-name: move;
animation-duration: 3.5s;
animation-direction: alternate;
animation-iteration-count: infinite;
animation-timing-function:linear;
transform-origin:left bottom;
transform-box: fill-box;
}
#bl4{
    animation-name: flow;
animation-duration: 10s;

animation-direction:alternate;
animation-iteration-count: infinite;
animation-timing-function:linear;

}